@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800&subset=cyrillic-ext');

body{
	font-family: 'Open Sans', sans-serif;
}

.prices{
	border: 1px solid #d8d8d8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.prices-titles{
	border-right: 1px solid #d8d8d8;
	width: 380px;
	min-width: 380px;
	padding-left:  18px;
	padding-right: 20px;
}
.prices-content{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}
.prices-titles-item{
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}
.prices-titles-item:not(:last-of-type){
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #d8d8d8;
}

.prices-titles-item.active{
	position: relative;
}
.prices-titles-item{
	position: relative;
}
.prices-titles-item a{
	position: relative;
	z-index: 1;
	display: block;
	padding: 18px;
	text-decoration: none;
	color: #000;
	padding-left: 15px;
}
.prices-titles-item.active:before{
	position: absolute;
	content: '';
	display: block;
	top: -1px;
	bottom: -1px;
	right: -1px;
	left: -1px;
	background: #fade41;
	z-index: 0;
	border-top: solid #f2b101 1px;
	border-bottom: solid #f2b101 1px;
	border-left: solid #f2b101 1px;
	border-right: solid #f2b101 1px;
}
.prices-titles-item.active .prices-titles-item-helper:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 29px 0 29px 18px;
	border-color: transparent transparent transparent #fade41;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 2;
	content: ''
}
.prices-titles-item.active .prices-titles-item-helper:after{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 29px 0 29px 18px;
	border-color: transparent transparent transparent #f2b101 ;
	position: absolute;
	top: 0;
	left: -webkit-calc( 100% + 1px );
	left: -moz-calc( 100% + 1px );
	left: calc( 100% + 1px );
	z-index: 1;
	content: ''
}
.prices-titles-item.active .prices-titles-item-helper.big:before,
.prices-titles-item.active .prices-titles-item-helper.big:after{
	border-width: 40px 0 40px 18px;
}

.prices-content{
	padding: 18px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.prices-content-top{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 18px;
	padding-left: 18px;
	padding-right: 18px
}

.prices-content-top-right{
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.prices-content-top-right.opened:after{
	content: 'Развернуть все'
}
.prices-content-top-right.closed:after{
	content: 'Свернуть все'
}

.prices-content-top-right:before{
	margin-right: 10px;
}

.prices-content-top-right.closed:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 4px;
	background: url('img/sprite-price.png') 22px -7px;
}
.prices-content-top-right.opened:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('img/sprite-price.png') -2px -2px;
}

.prices-content-bottom{
	margin-top: 18px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.prices-accordion-title{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 5px;
	padding-left: 18px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.prices-accordion-title__left{
	font-weight: 600;
	cursor: pointer;
}
.prices-accordion-price, .prices-accordion-buy{
	display: inline-block;
}
.prices-accordion-price{
	margin-right: 30px;
	font-size: 18px;
}

.prices-accordion-buy{
	background: #c9007e;
	padding: 10px 40px;
	color: #fff;
	font-size: 16px;
	border: 1px solid #9b0161;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
    cursor: pointer;	
}
.prices-accordion-content{
	margin-top: 15px;
}
.prices-bonus-list{
	padding: 0;
	margin: 0;
}
.prices-bonus-list__item{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 15px;
}
.prices-bonus-list__item:not(:last-of-type){
	margin-bottom: 10px;
}
.prices-bonus-list__item:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	width:  16px;
	height: 16px;
	background: url(img/sprite-price.png) 48px 21px;
}
.prices-bonus-list__item_negative{
	color: #a9a9ab;
}
.prices-bonus-list__item_negative:before{
	background: url(img/sprite-price.png) 23px 21px;
}

.prices-accordion-item:not(:last-of-type) .prices-accordion-content{
	margin-bottom: 50px;
}
.prices-accordion-item:not(:last-of-type){
	margin-bottom: 5px;
}
#container{
	max-height: 100%;
	position: relative;
}




.mCSB_scrollTools{
	right: 6px !important;
}
.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail{
	background: #d8d8d8 !important;
	width: 3px;
}
.mCSB_dragger_bar{
	background: #d00c87 !important;
	width: 27px !important;
    height: 27px !important;
    left: -webkit-calc( -50% + 2px ) !important;
    left: -moz-calc( -50% + 2px ) !important;
    left: calc( -50% + 2px ) !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.mCSB_dragger_bar:after{
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 11px;
	height: 11px;
	content: '';
	background: #fbe8f4;
}
.mCSB_inside>.mCSB_container{
	margin-right: 40px !important;
}
.mCSB_scrollTools{
	height: -webkit-calc( 100% - 17px ) !important;
	height: -moz-calc( 100% - 17px ) !important;
	height: calc( 100% - 17px ) !important;
}


.prices-accordion-item .prices-accordion-title__left:before{
	margin-right: 10px;
}
.prices-accordion-item .prices-accordion-title__left{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.prices-accordion-item.accordion_closed .prices-accordion-title__left:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('img/sprite-price.png') -2px -2px;
}
.prices-accordion-item:not(.accordion_closed) .prices-accordion-title__left:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 4px;
	background: url('img/sprite-price.png') 22px -7px;}



@media (max-width: 720px){
	.prices{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		   -moz-box-orient: vertical;
		   -moz-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.prices-titles{
		padding: 0;
		width: 100%;
		min-width: 100%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	       -moz-box-orient: horizontal;
	       -moz-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row;
	    -webkit-flex-wrap: nowrap;
	        -ms-flex-wrap: nowrap;
	            flex-wrap: nowrap;
	    overflow-y: auto;
	}
	.prices-content-bottom{
		height: auto !important;
	}
	.prices-titles-item a{
		font-size: 14px;
		/*white-space: pre;*/
	}
	.prices-titles-item{
		min-width: 75%;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	   -moz-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	-webkit-box-pack: center;
    	-webkit-justify-content: center;
    	   -moz-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
   		text-align: center;
	}

	.prices-content-top-left, .prices-content-top-right{
		font-size: 12px;
	}
	.prices-content-top{
		padding-left: 0;
		padding-right: 0;
	}
	.prices-accordion-title{
		padding-left: 0;
		display: block;
	}
	.prices-accordion-title__left{
		font-size: 12px;
	}
	.prices-accordion-item .prices-accordion-title__left{
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		   -moz-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
	.prices-accordion-title__right{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		   -moz-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.prices-accordion-price{
		font-size: 14px;
		margin-right: 0;
		padding: 10px 0;
	}
	.mCSB_inside>.mCSB_container {
		margin-right: 0 !important;
	}
	.prices-accordion-buy{
		background: #c9007e;
		padding: 5px 20px;
		color: #fff;
		font-size: 14px;
		border: 1px solid #9b0161;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
	}
	.prices-bonus-list__item{
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		   -moz-box-align: start;
		    -ms-flex-align: start;
		            -ms-grid-row-align: flex-start;
		        align-items: flex-start;
		font-size: 14px;
	}
	.prices-bonus-list__item:before{
	    min-width: 16px;
        margin-top: 5px;
	}
	.prices-bonus-list__item:not(:last-of-type){
		margin-bottom: 15px;
	}
	.prices-titles-item-helper{
		display: none;
	}
	.mCSB_scrollTools .mCSB_draggerContainer{
		display: none;
	}

	.prices-titles-item {
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    border-color: #d8d8d8;
	}
	.prices-titles-item:not(:last-of-type) {
	    border-right-style: solid;
	    border-right-width: 1px;
	    border-color: #d8d8d8;
	}


}